[submodule "apps/solver"]
	path = apps/solver
	url = ../solver.git
[submodule "apps/MaxRunStats"]
	path = apps/MaxRunStats
	url = ../MaxRunStats.git
[submodule "apps/goon"]
	path = apps/goon
	url = ../goon.git
[submodule "apps/sbee"]
	path = apps/sbee
	url = ../sbee.git
[submodule "apps/ogre"]
	path = apps/ogre
	url = ../ogre.git
[submodule "apps/jrny"]
	path = apps/jrny
	url = ../jrny.git
[submodule "libs/libargc"]
	path = libs/libargc
	url = ../libargc.git
[submodule "libs/libcoord"]
	path = libs/libcoord
	url = ../libcoord.git
[submodule "libs/liblynel"]
	path = libs/liblynel
	url = ../liblynel.git
[submodule "libs/libpnt"]
	path = libs/libpnt
	url = ../libpnt.git
[submodule "libs/libstats"]
	path = libs/libstats
	url = ../libstats.git
[submodule "libs/libutil"]
	path = libs/libutil
	url = ../libutil.git
